:root {
  --primary: #9FD8DB;
  --secondary: #1B4156;
  --tertiary: #F9735B;
  --quatinary: #23561B;
  --text-gray: #777777;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Snas', sans-serif;
  background-image: linear-gradient(160deg, var(--primary), var(--secondary));
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

h2 {
  margin: 0.5rem;
  font-size: 2.25rem;
}

h3 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.card h3 {
  color: var(--secondary);
  margin-top: 0;
}

#growthcoach {
  max-width:600px;
  margin: 0 auto;
}

/* Style the form */
#regForm {
    margin: 0 auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 0.5rem 2%;
    width: 96%;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    border: none;
    border: 1px solid var(--text-gray);
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  button {
    padding: 0.25rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--tertiary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#regForm label {
  background-color: #efefef;
  border-radius: 0.5rem;
  display: block;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

div#chatInput {
  position: absolute;
  z-index: 999;
  max-width: 600px;
  width: 100%;
  bottom: 5px;
}

div#chatWindow {
  height: 95vh;
  overflow: hidden;
}

div#salutation {
  font-size: 1.75rem;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.card {
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  min-height: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.2);
}

div#chat-card {
  position: absolute;
  max-width: 600px;
  z-index: 999;
  height: 90vh;
  bottom: -90vh;
  overflow: hidden;
}

#chat-card #chatWindow {
  max-height: 96%;
}

.botChatMessage {
  background-color: var(--secondary);
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  line-height:1.25rem;
}

.botChatMessage h2 {
  font-size: 1.5rem;
  margin: 0;
}

.userChatMessage {
  background-color: var(--quatinary);
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  line-height: 1.25rem;
}

.goal {
  margin: 2rem;
  border-left: 2px solid var(--tertiary);
  padding-left: 2rem;
  cursor: pointer;
}

span.goal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

span.goal-checkin {
  font-style: italic;
  color: var(--text-gray);
}

div#chat-card-header {
  text-align: center;
  color: var(--text-gray);
  padding: 0.5rem;
  cursor: pointer;
}

.arrow {
  border: solid var(--text-gray);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 2rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}