/*
Copyright 2023 Dream City Church

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”),
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

:root {
  --primary: #9FD8DB;
  --secondary: #1B4156;
  --tertiary: #F9735B;
  --quatinary: #23561B;
  --text-gray: #777777;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Snas', sans-serif;
  background-image: linear-gradient(160deg, var(--primary), var(--secondary));
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  overflow-y: scroll;
}

div#version-id {
  position: fixed;
  z-index: 999;
  left: 10px;
  bottom: 10px;
  font-size: 0.65rem;
  color: var(--primary);
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin: 2rem 0rem 0rem 0rem;
  font-size: 2.25rem;
}

h3 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.card h3 {
  color: var(--secondary);
  margin-top: 0;
}

#growthcoach {
  max-width:600px;
  width: 100%;
  margin: 0 auto;
}

/* Style the form */
#regForm {
    margin: 0 auto;
    padding: 40px;
    width: 75%;
    min-width: 300px;
  }

  .tab h2 {
    color: white;
    text-align: center;
    width: 100%;
}
  
  /* Style the input fields */
  input {
    padding: 0.5rem 2%;
    width: 96%;
    margin: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    border: none;
    border: 1px solid var(--text-gray);
  }

  input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

input[type="checkbox"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

:checked+label {
  background-color: var(--secondary) !important;
  color: white;
}

  img#logo-welcome {
    width: 50%;
    margin: 2rem 25%;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  .tab p {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.5rem;
}
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

  button {
    padding: 0.25rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--tertiary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#regForm button {
  margin-top: 2rem;
}

button#chatSend {
  width: 25% !important;
}

#regForm label {
  background-color: #efefef;
  border-radius: 0.5rem;
  display: block;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

div#chatInput {
  position: absolute;
  z-index: 999;
  max-width: 600px;
  width: 100%;
  bottom: 5px;
}

div#chatWindow {
  height: 95vh;
  overflow: hidden;
}

div#chatWindow::-webkit-scrollbar {
  display: none;
}

div#salutation {
  font-size: 1.75rem;
  color: white;
  padding: 1rem;
  font-weight: bold;
  width: 70%;
  float: left;
}

.card {
  width: 94%;
  padding: 3% 3%;
  background-color: white;
  border-radius: 1rem;
  min-height: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.2);
  clear: both;
}

div#chat-card {
  position: fixed;
  max-width: 535px;
  min-width: 525px;
  width: 40%;
  margin: 1rem auto;
  z-index: 990;
  height: 90vh;
  bottom: -90vh;
  overflow: hidden;
  transition: bottom 0.25s ease-in-out;
}

#chat-card #chatWindow {
  max-height: 92%;
}

.botChatMessage {
  background-color: var(--secondary);
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  line-height:1.25rem;
}

.botChatMessage h2 {
  font-size: 1.5rem;
  margin: 0;
}

.userChatMessage {
  background-color: var(--quatinary);
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  line-height: 1.25rem;
}

.goal {
  margin: 1.5rem;
  border-left: 2px solid var(--tertiary);
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  cursor: pointer;
}

.goal:hover {
  background-color: rgba(159,216,219,0.15);
}

span.goal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

span.goal-checkin {
  font-style: italic;
  color: var(--text-gray);
}

div#chat-card-header {
  text-align: center;
  color: var(--text-gray);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.arrow {
  border: solid var(--text-gray);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 2rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

img#logo {
  object-fit: contain;
  width: 100%;
}

div#logo-container {
  float: right;
  width: 15%;
  margin: 1rem;
}

div#bible-passage {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--tertiary);
  margin: 0.25rem 1rem;
}

div#passage_summary {
  font-size: 1rem;
  font-style: italic;
  color: var(--text-gray);
  margin: 1rem;
}

div#passage_question {
    margin: 1rem;
}

div#reflection {
  margin: 1rem;
}


/*Text Loading Indicator*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  margin: 1rem auto;
}
.lds-ellipsis div {
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  border-radius: 50%;
  background: var(--secondary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

iv#spacer-card {
  height: 2rem;
}

/* mobile styling */
@media only screen and (max-width: 600px) {
  .card {
    padding: 5% 5% 2% 5%;
    width: 90%;
    margin-bottom: 2rem;
  }
  .goal {
    margin: 1.5rem;
  }
  #chatInputText {
    width:60%;
  }
  div#spacer-card {
    height: 1rem;
  }
  div#chat-card {
    width: 94%;
    margin: 2rem auto;
  }
  .tab h2 {
    margin-top: 0;
    
  }
}